<h2 class="page-header">Add/Drop Songs To/From Library</h2>
<form method="post" action="/users/addDrop">
  <div class="form-group">
    <label>Enter ID</label>
    <input type="text" class="form-control" name="addedId" placeholder="Enter ID from following table">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-default" name="add">Add</button>
  <button type="submit" class="btn btn-default" name="drop">Drop</button>

<br>
<br>
</form>
<form method="post" action="/users/library">
  <div class="form-group">
  <button type="submit" class="btn btn-default" name="viewlibrary">View Library</button>
  </div>
</form>

<br>
<br>
<div>
<label>Available Artist and their Songs</label>
<br>
<br>
<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Taylor Swift</td>
        <td>Red</td>
        <td>Red</td>
      </tr>
      <tr>
        <td>2</td>
        <td>The Weekend</td>
        <td>Starboy</td>
        <td>Starboy</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Katy Perry</td>
        <td>Prism</td>
        <td>Roar</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Jennifer Lopez</td>
        <td>A.K.A</td>
        <td>First Love</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Adele</td>
        <td>25</td>
        <td>Hello</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Sia</td>
        <td>This is Acting</td>
        <td>Alive</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Rihanna</td>
        <td>Anti</td>
        <td>Consideration</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Dilijit Dosanjh</td>
        <td>Udta Punjab</td>
        <td>Ikk Kudi</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Akon</td>
        <td>Freedom</td>
        <td>Beautiful</td>
      </tr>

      <tr>
        <td>10</td>
        <td>Florida</td>
        <td>R.O.O.T.S</td>
        <td>Right Round</td>
      </tr>





    </tbody>
  </table>
  </div>


  