<h2 class="page-header">Add/Drop Songs To/From Library</h2>
<form method="post" action="/users/addDrop">
  <div class="form-group">
    <label>Enter ID</label>
    <input type="text" class="form-control" name="addedId" placeholder="Enter ID from following table to ADD/REMOVE from library">
  
<br>

  <select name="dropdownlist">
    <option value="">Please Select</option>
    <option value="add">Add</option>
    <option value="drop">Drop</option>
    
  </select>
  <br><br>
  <button type="submit" class="btn btn-default" >Submit</button>
</form>
</div>


<br>
<br>
</form>
<form method="post" action="/users/library">
  <div class="form-group">
  <button type="submit" class="btn btn-default" name="viewlibrary">View Library</button>
  </div>
</form>

<br>
 
 <section class="get">
    <!-- <a href="/get-data">DATA</a> -->
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>SongId</th>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{# each items }}
            <tr>
              <td>{{ this.id }}</td>
              <td>{{ this.song }}</td>
              <td>{{ this.artist }}</td>
              <td>{{ this.album }}</td>
              <td><input type="button" value="Play" /></td>
            </tr>
        {{/each}}<br>
        </tbody>
    </div>
</section>