<h2 class="page-header">Home</h2>
 <section class="get">
    
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>SongId</th>
          
        </tr>
        </thead>
        <tbody>
        {{# each items }}
            <tr>
              <td>{{ this.songids }}</td>
              
            </tr>
        {{/each}}<br>
        </tbody>
    </div>
</section>